:root {
    --p-color: #e87722;
    --blue-color: #0404ab;
    --yellow-color: #fffc01;
    --tomato-color: #f7941e;
    --cal-primary: #206175;
    --cal-secondary: #b8409e;
    --cal-tartiary: #990012;
    --cal-primary-10: #20617526;
    --cal-secondary-10: #b8409e24;
    --cal-tartiary-10: #9900121f;
    --p-font: 'Montserrat', sans-serif;
}

* {
    font-family: var(--p-font);
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: var(--p-font);
}

/* Bootstrap reset */
.form-control:focus {
    border-color: #66afe9 !important;
    outline: 0;
    -webkit-box-shadow: 0 3px 10px -6px #777 !important;
    -moz-box-shadow: 0 3px 10px -6px #777 !important;
    box-shadow: 0 3px 10px -6px #777 !important;
}

/* Global css */
.box-shadow {
    -webkit-box-shadow: 0 3px 10px -6px #777;
    -moz-box-shadow: 0 3px 10px -6px #777;
    box-shadow: 0 3px 10px -6px #777;

}

.footer-bg {
    background-color: #e5e5e5;
}

.main-wrap {
    background-color: #f3f3f3;
    color: #333;
}

/* Nav-bar design */
a.navbar-brand img {
    height: 40px;
}

a.nav-link {
    color: #333;
    font-weight: 600;
    font-size: 14px;
}

a.nav-link.btn.btn-sm.btn-primary {
    background-color: var(--p-color);
    border: 0;
    color: white;
    padding: 5px 12px;
}

ul.navbar-nav.nav-right li a {
    vertical-align: middle;
    margin-right: 10px;
}

ul.navbar-nav.nav-right li a i {
    color: #e87722;
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
}

ul.navbar-nav.nav-right li select {
    vertical-align: -webkit-baseline-middle;
    margin-left: 15px;
    border: 1px solid white;
    font-size: 12px;
}

/* Slider design */
.carousel-item {
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 50vh;
}

.main-slider .carousel-item .item-content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 70%;
}

.carousel-item .item-content {
    /*text-align: right;*/
}

.carousel-item .item-content .title {
    font-size: 35px;
    text-shadow: 0 0 black;
    margin-bottom: 45px;
    position: relative;
    display: inline-block;
    font-weight: bold;
    color: var(--blue-color);
}

.carousel-item .item-content .title:before {
    position: absolute;
    content: '';
    background-image: url("../img/slider-text-bg.png");
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

/* Slider image card design */
ul.img-card {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
}

ul.img-card li {
    display: inline-block;
    margin-right: 10px;
    border: 0;
    height: 17px;
}

ul.img-card li a {
    display: inline-block;
    font-size: 7px;
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 15px;
}

ul.img-card li a.card .card-body img {
    width: 60px;
    text-align: center;
    margin: 0 auto;
}

ul.img-card li a.card .card-head {
    background-color: blue;
    color: white;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    padding: 5px;
}

ul.img-card li a.card .card-body {
    padding: 5px;
}

ul.img-card li .footer {
    color: var(--yellow-color);
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

/* Highlight design */
.highlight-wrap {
    min-height: 180px;
}

.highlight-container {
    position: relative;
    min-height: 40px;
    max-width: 900px;
    margin: 0 auto;
}

.search-box {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    top: -35px;
}

.search-box .search .row .col-auto button {
    background-color: #e87722;
    color: white;
    border: 0;
    border-radius: 5px !important;
    font-weight: lighter;
}

.search-box .search .row .col input {
    border: 0;
}

ul.search-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.search-ul li {
    display: inline-block;
}

ul.search-ul li a {
    font-size: 9px;
    text-align: center;
    display: block;
    color: #555;
    padding: 5px 12px;
    text-decoration: none;
}

ul.search-ul li a i {
    color: var(--p-color);
    font-size: 12px;
}

.highlight-fav {
    margin: 25px 0;
}

.highlight-fav .row .col-md-4 .item {
    /*background-color: var(--cal-primary-10);*/
    /*color: var(--cal-primary);*/
    border-radius: 5px;
    padding: 15px;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 15px;
    clear: both;
    overflow: hidden;
}

.highlight-fav .row .col-md-4 .item img {
    width: 40px;
    float: left;
}

.highlight-fav .row .col-md-4 .item span {
    float: left;
    padding-left: 10px;
    font-size: 10px;
    display: block;
    vertical-align: middle;
    line-height: 40px;
}

.bg-cal-primary {
    background-color: var(--cal-primary-10);
    color: var(--cal-primary);
}

.bg-cal-secondary {
    background-color: var(--cal-secondary-10);
    color: var(--cal-secondary);
}

.bg-cal-tartiary {
    background-color: var(--cal-tartiary-10);
    color: var(--cal-tartiary);
}

/* Footer design */
.footer {
    color: var(--p-color);
}

.footer-col img {
    height: 40px;
}

ul.social-list li {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

ul.social-list li a {
    font-size: 26px;
    vertical-align: middle;
    color: #666;
}

ul.color-ul li {
    background: var(--p-color);
}

ul.color-ul li a {
    color: white;
}

.footer-phone i {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: tomato;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-size: 22px;
    border-radius: 100%;
}

.footer-phone span {
    font-size: 20px;
    font-weight: bold;
    color: #444;
    vertical-align: middle;
}

.footer-phone {
    margin-top: 100px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

ul.footer-ul {
    margin: 0;
    padding: 0;
}

ul.footer-ul li {
    display: inline-block;
}

ul.footer-ul li a {
    color: #555;
    font-size: 12px;
    text-decoration: none;
    font-weight: 500;
}

ul.list-unstyled li a {
    color: #555;
    font-size: 12px;
    font-weight: 500;
}

.copy-right-container.container {
    color: #555;
    font-size: 12px;
    position: relative;
}

.copy-right-container.container:before {
    position: absolute;
    content: '';
    height: 1px;
    background-color: #cccccc;
    left: 15px;
    right: 15px;
    top: -14px;
}

/* Awards design */
.awards-warp {
    background-color: #f8fefe;
}

.awards-item {
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 500;
    position: relative;
}

.awards-item:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    top: -22px;
    border: 1px solid #ccc;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
}

.awards-item:after {
    content: '';
    position: absolute;
    top: -13px;
    width: 37px;
    height: 37px;
    background-image: url("../img/awards-logo.png");
    background-repeat: no-repeat;
    background-size: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.awards-item img {
    width: 100%;
    padding: 30px;
}

.awards-item a {
    text-decoration: none;
    padding: 0 30px;
    margin-bottom: 30px;
    display: block;
}

/* Our product */
.product-wrap {
    background-color: #f3f3f3;
    color: #555555;
}

.product-wrap .prod-header h4 {
    font-size: 40px;
    font-weight: 500;
}

.product-wrap .prod-header h4 span {
    font-weight: 600;
}

/* Product tab */
.ver-tab .left-sidebar {
    background-color: #2c302e;
    text-align: center;
}

.ver-tab .left-sidebar a {
    color: white;
    font-weight: 100;
}

.product-wrap .nav-link.active {
    border-radius: 0;
    background-color: transparent!important;
    position: relative;
    font-weight: 600;
}

.product-wrap .nav-link.active:before {
    position: absolute;
    content: '';
    top: 8px;
    bottom: 8px;
    right: -4px;
    width: 10px;
    background-color: #ffeb9f;
    border-radius: 5px;
    z-index: 1;
}

#v-pills-savings .row {
    border-radius: 10px;
}

.prod-img img {
    max-width: 100%;
    border-radius: 10px;
}

.sanchay-content h4 {
    font-weight: 600;
}

.sanchay-content p {
    font-size: 12px;
}
.sanchay-content a.details-link {
    text-align: right;
    display: block;
    color: #555;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 40px;
}

.sanchay-row {
    font-size: 12px;
}

.sanchay-rightside button {
    font-weight: 600;
    font-size: 10px;
    background: var(--p-color);
    color: white;
    border-radius: 15px;
}

.sanchay-content .arrow a {
    display: inline-block;
    width: 30px;
    background-color: #0000000d;
    color: #555;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
}

.btn-blue {
    background-color: #232075;
    color: white;
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 8px 35px;
    border-radius: 25px;
}

.btn-blue:hover {
    text-decoration: none;
    color: white;
}









